.single-post {
  background: #dfdfdf;
  border-radius: 8px;
  width: 240px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  h2 {
    font-size: 18px;
  }
  .main-image {
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: center;
    background-origin: center;
    background-color: #adadad;
  }
}