@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import "./variables";
@import "./utils";

body {
  font-family: $font-family;
  color: $black;
  .new-post {
    position: sticky;
    right: 10px;
    margin-left: auto;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: #ed56fd;
    border-radius: 50%;
    text-align: center;
    font-size: 2.2rem;
    color: white;
    line-height: 1.8;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background: darken(#ed56fd, 20%);
      width: 65px;
      height: 65px;
      line-height: 1.9;
    }
  }
}